html, body {
    margin: 0;
    scroll-behavior: smooth;
    background-color: #090909;
}

footer{
    background-color: rgb(35, 35, 35);
    text-align: center;
    color: azure;
    padding: 1.5rem 0;
}